body {
  font-family: "Pirata One", sans-serif;
  background: radial-gradient(
    circle,
    hsl(180, 15%, 90%) 0%,
    hsl(180, 25%, 70%) 0%,
    hsl(180, 35%, 40%) 100%
  );
  background-image: url("assets/fundo.png");
  background-position-y: -140px;
  background-size: 100%;
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
  font-family: "Pirata One", sans-serif;
}

.wrap {
  height: 100%;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.button {
  min-width: 340px;
  min-height: 90px;
  font-family: "Pirata One", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  /* background: #4FD1C5; */
  background: #fffc2e;
  /* background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
  border: none;
  border-radius: 1000px;
  box-shadow: #fffc2ea6;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 45%;
  left: 20%;
  padding: 10px;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

/* ----------------------------------------------------------------------------------------------------- */

body {
  font-family: "Pirata One", sans-serif;
  background: radial-gradient(
    circle,
    hsl(180, 15%, 90%) 10%,
    hsl(180, 25%, 70%) 20%,
    hsl(180, 35%, 40%) 100%
  );
}

canvas {
  display: block;
}

a {
  color: #000;
}

#record {
  position: absolute;
  top: 1rem;
  color: #fffc2e;
  right: 1rem;
  font-size: 3rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 15% auto; */
  padding: 40px;
  padding-top: 60px;
  padding-left: 60px;
  border: 1px solid #888;
  border-radius: 24px;
  font-size: 48px;
  text-align: center;
  /* width: 40%; */
}

.modal-content h2 {
  all: unset;
  font-size: 90px;
  font-weight: bold;
}

.modal-content p {
  margin-top: 40px;
}

.close {
  all: unset;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.PlayAgain {
  font-size: 42px;
  font-family: "Pirata One", sans-serif;
  text-align: center;
  border: 3px solid #fffc2e;
  cursor: pointer;
  background-color: #fefefe;
  border-radius: 12px;
  padding: 20px 25px;
  margin-top: 40px;
  transition: all 0.2s ease;
}

.PlayAgain:hover {
  background-color: #fffc2e;
  transition: all 0.2s ease;
}

.explosion {
  float: left;
  position: absolute;
}

#locExplosion {
  height: 100%;
  width: 100%;
  position: absolute;
}
